.button {
    @include font($family: 'Commissioner', $size: 1.3rem, $weight: 700, $height: 3.0rem, $letter: 0.08em);
    @extend %transition;
    text-align: center;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 51px;
    border: 1px solid $color-primary;
    border-radius: 2px;
    &_bordered {
        background-color: $color-light;
        color: $color-primary;
        &:hover {
            background-color: $color-primary;
            color: $color-light;
        }
    }
    &_colored {
        background-color: $color-primary;
        color: $color-light;
        &:hover {
            background-color: $color-light;
            color: $color-primary;
        }
    }
}
