$color-primary: #DEC377;
$color-primary-lighter: rgba(222, 195, 119, 0.75);
$color-primary-lightest: rgba(222, 195, 119, 0.4);

$color-light: #FFFFFF;
$color-headlines: rgba(0, 0, 0, 0.9);
$color-text: rgba(0, 0, 0, 0.8);
$color-nav-items: rgba(0, 0, 0, 0.75);
$color-half-dark: rgba(0, 0, 0, 0.5);
$color-pagination: rgba(0, 0, 0, 0.1);

$color-bg: #F2F2F2;

$content-width: 1170px;
