@mixin font($family, $size, $height, $weight: normal, $style: normal, $letter: 0) {
    font-family: $family, 'Verdana', sans-serif;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $height;
    letter-spacing: $letter;
}

@mixin columns($width) {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex-basis: $width;
    }
}
